@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap");
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1;
  width: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E5E5E5;
  padding: 0;
  margin: 0
}

input, select {
  vertical-align: middle
}

input[type=button], input[type=email], input[type=radio], input[type=submit], input[type=tel], input[type=text], textarea {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

input[type=button]::-webkit-search-decoration, input[type=email]::-webkit-search-decoration, input[type=radio]::-webkit-search-decoration, input[type=submit]::-webkit-search-decoration, input[type=tel]::-webkit-search-decoration, input[type=text]::-webkit-search-decoration, textarea::-webkit-search-decoration {
  display: none
}

input[type=button]::focus, input[type=email]::focus, input[type=radio]::focus, input[type=submit]::focus, input[type=tel]::focus, input[type=text]::focus, textarea::focus {
  outline-offset: -2px
}

a[href*="tel:"] {
  cursor: default;
  text-decoration: none;
  color: inherit
}

li, ol {
  list-style: none
}

@media (min-width:751px) {
  a[href*="tel:"] {
    pointer-events: none
  }
}

body {
  font-family: "Noto Sans Myanmar", Medium;
  color: #000000
}

.siteWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden
}

.wrapper {
  display: block;
  max-width: 1024px;
  margin: 0 auto
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.sp {
  display: none
}

h2 {
  font-size: 21px
}

h2.mb-30 {
  margin-bottom: 30px
}

.full-link {
  display: block;
  height: 100%
}

.button {
  font-size: 14px;
  padding: 14px 38px;
  border-radius: 5px;
  display: block;
  position: relative;
  background-color: #fff
}

.button:before {
  content: "";
  position: absolute;
  right: 12px;
  width: 9px;
  height: 3px;
  background: #941F24;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.button:after {
  content: "";
  position: absolute;
  right: 12px;
  width: 17px;
  height: 3px;
  background: #941F24
}

@media (max-width:750px) {
  .sp {
    display: block!important
  }
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat
}

@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg")
}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: 0.25
}

.slick-next:before, .slick-prev:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: "←"
}

[dir=rtl] .slick-prev:before {
  content: "→"
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

.slick-next:before {
  content: "→"
}

[dir=rtl] .slick-next:before {
  content: "←"
}

.slick-dotted.slick-slider {
  margin-bottom: 30px
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -30px;
    
    display: block;
    
    width: 100%;
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    text-align: center;
    
}
.slick-dots li
{
    position: relative;
    
    display: inline-block;
    align-items: flex-end;
    
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
    padding: 0;
    
    cursor: pointer;
    
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;

    cursor: pointer;
    background-color: transparent;
    color: transparent;
    border: 0;
    outline: none;
    
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
/* // .slick-dots li button:hover:before,
// .slick-dots li button:focus:before
// {
//     opacity: 1;
// } */
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 12px;
    height: 12px;
    
    background: black;
    border-radius: 50%;
    content: '•';
    text-align: center;

    opacity: .25;
    color: transparent;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  border-radius: 50%;
  border: solid 3.9px #941F24;
  width: 12.4px;
  height: 12.4px;
  background: white;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after, .slick-track:before {
  display: table;
  content: ""
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.h-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px
}

.h-bar .h-left .logo {
  display: table;
  margin: auto
}

.h-bar .h-left .logo p {
  font-size: 7.5px;
  margin: 10px 0
}

.h-bar .h-left .logo img {
  height: 40px;
  width: 135.75px;
  margin-bottom: 12px
}

.h-bar .h-left .logo-txt {
  font-size: 16px;
  display: table;
  margin: auto;
  margin-left: 22.5px
}

.h-bar .h-right {
  height: 50px;
  margin-top: 18px;
  margin-bottom: 15px
}

.h-bar .h-right .tel span {
  display: block;
  font-size: 28px
}

.h-bar .h-right .tel small {
  display: block;
  text-align: right;
  font-size: 12px;
  margin-top: 7px;
  color: #8D8D8D
}

.h-bar .h-right .contact {
  display: table;
  margin: auto;
  margin-left: 20px;
  padding: 17px 28px;
  background-color: #DAE24A;
  -webkit-box-shadow: 0px 5px 10px #ccc;
  box-shadow: 0px 5px 10px #ccc;
  border-radius: 5px
}

.h-menu {
  height: 40px
}

.h-menu .flex {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 14px;
  padding-bottom: 14px
}

.h-menu .flex li {
  margin-left: 20px;
  font-size: 14px
}

.slider {
  overflow: visible
}

.slider #fv-slider img {
  width: 100%;
  height: 40vw
}

.slick-dots li button:before {
  font-size: 40px!important
}

footer {
  background-color: #F5F5F5;
  width: 100%;
  padding-bottom: 82px
}

footer .flex {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image: -webkit-gradient(linear, right top, left top, from(#E5E5E5), to(#DAE24A));
  border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image-slice: 1
}

footer .flex li {
  font-size: 14px
}

footer .footer-img {
  width: 230px
}

footer .footer-img img {
  width: 100%;
  margin-bottom: 8px
}

footer .footer-img p {
  font-size: 16px;
  line-height: 1.625
}

.c-txt {
  width: 55%;
  position: absolute;
  top: 0;
  height: 100%
}

.c-txt .txt-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  line-height: 1.7;
  letter-spacing: 0.72px
}

.c-txt .txt-contents h2 {
  color: white
}

.c-txt .txt-contents p {
  margin-top: 20px;
  font-size: 14px;
  color: white
}

.c-txt .txt-contents .button {
  font-size: 14px;
  margin-top: 30px;
  padding: 14px 38px;
  border-radius: 5px;
  display: block;
  position: relative;
  background-color: #fff
}

.c-txt .txt-contents .button:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 3px;
  background: #941F24;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.c-txt .txt-contents .button:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 3px;
  background: #941F24
}

.fv-low {
  margin-top: 50px;
  padding-bottom: 22px
}

.fv-low .flex {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly
}

.fv-low .flex img {
  max-width: 270px;
  max-height: 90px
}

.contents {
  margin: auto;
  margin-top: 70px;
  text-align: center;
  padding-bottom: 70px;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image: -webkit-gradient(linear, right top, left top, from(#E5E5E5), to(#DAE24A));
  border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image-slice: 1
}

.contents h2 {
  line-height: 1.23;
  letter-spacing: 2.1px
}

.contents p {
  line-height: 1.625;
  letter-spacing: 1.6px;
  width: 880px;
  margin: auto;
  margin-bottom: 50px
}

.contents img {
  margin: 0 auto;
  width: 728px;
  height: 90px
}

.img-card1 {
  margin-top: 70px;
  position: relative;
  margin-bottom: 60px
}

.img-card1 img {
  width: 100%;
  max-height: 360px
}

.img-card1 .c-txt {
  width: 55%;
  right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(90%, rgba(0, 0, 0, 0.85)), to(transparent));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.85) 90%, transparent)
}

.img-card1 .c-txt .txt-contents {
  left: 20%
}

.img-card1 .c-txt .txt-contents .button {
  width: 47%
}

.img-card1 .c-txt .txt-contents .button:before {
  top: 46%;
  right: 12px
}

.img-card1 .c-txt .txt-contents .button:after {
  top: 52%;
  right: 12px
}

.news-list {
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image: -webkit-gradient(linear, right top, left top, from(#E5E5E5), to(#DAE24A));
  border-image: linear-gradient(270deg, #E5E5E5 0%, #DAE24A 100%);
  border-image-slice: 1;
  margin-bottom: 90px
}

.news-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.news-list .card {
  width: 320px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc;
  position: relative;
  margin-top: 30px
}

.news-list .card-tag {
  position: absolute;
  bottom: 34%;
  left: 10px;
  padding: 6px 22px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px 3px 0 0;
  background: #fff
}

.news-list .card-tag2 {
  position: absolute;
  bottom: 34%;
  left: 90px;
  padding: 6px 22px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  border-radius: 3px 3px 0 0;
  background: #fff
}

.news-list .card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 180px
}

.news-list .card-content {
  padding: 18px 48px 18px 19px;
  position: relative
}

.news-list .card-content:before {
  content: "";
  position: absolute;
  bottom: 34%;
  right: 4%;
  width: 9px;
  height: 3.2px;
  background: #941F24;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.news-list .card-content:after {
  content: "";
  position: absolute;
  bottom: 31%;
  right: 4%;
  width: 17px;
  height: 3.2px;
  background: #941F24
}

.news-list .card-content .card-title {
  font-size: 16px;
  color: #333;
  line-height: 2;
  font-weight: normal
}

.news-list .button {
  width: 580px;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 22px 0;
  border: thin solid #b4b4b4;
  -webkit-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc
}

.news-list .button:before {
  top: 26px;
  right: 140px;
  width: 9px;
  height: 3.2px
}

.news-list .button:after {
  top: 30px;
  right: 140px;
  width: 17px;
  height: 3.2px
}

.img-card2 {
  position: relative;
  margin-bottom: 60px
}

.img-card2 img {
  width: 100%;
  max-height: 360px
}

.img-card2 .c-txt {
  left: 0%;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, rgba(0, 0, 0, 0.85)), to(transparent));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 90%, transparent)
}

.img-card2 .c-txt .txt-contents {
  left: 6%
}

.img-card2 .c-txt .txt-contents .button {
  width: 39%;
  margin-top: 30px
}

.img-card2 .c-txt .txt-contents .button:before {
  top: 46%
}

.img-card2 .c-txt .txt-contents .button:after {
  top: 52%
}

.blog {
  line-height: 1.7;
  letter-spacing: 0.72px;
  margin-bottom: 60px
}

.blog p {
  font-size: 15px
}

.blog .button {
  text-align: center;
  width: 250px;
  border: thin solid #b4b4b4;
  -webkit-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc;
  margin: auto;
  margin-top: 30px
}

.blog .button:before {
  top: 46%;
  right: 40px
}

.blog .button:after {
  top: 52%;
  right: 40px
}

.blog-list li {
  height: 120px;
  margin-bottom: 50px
}

.blog-list li img {
  width: 200px;
  height: 100%;
  margin-right: 60px
}

.blog-list li .info {
  margin-top: 10px
}

.blog-list li .info .flex {
  margin-bottom: 13px;
  color: #8D8D8D
}

.blog-list li .info .flex .date {
  padding: 7px 0;
  margin-right: 20px
}

.blog-list li .info .flex .tag {
  padding: 7px 34px;
  background-color: whitesmoke;
  border: thin solid #b4b4b4;
  margin-right: 10px
}

.blog-list li .info .blog-list-title {
  font-size: 16px
}

.blog-list .button {
  width: 580px;
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 22px 0;
  border: thin solid #b4b4b4;
  -webkit-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc
}

.blog-list .button:before {
  top: 26px;
  right: 140px;
  width: 9px;
  height: 3.2px
}

.blog-list .button:after {
  top: 30px;
  right: 140px;
  width: 17px;
  height: 3.2px
}

@media print, screen and (min-width:751px) {
  .archive-wrapper {
    width: 100%
  }
}

@media only screen and (max-width:750px) {
  .archive-wrapper {
    width: 92vw
  }
}

.archive-title {
  font-weight: 700;
  letter-spacing: 0.1em
}

@media print, screen and (min-width:751px) {
  .archive-title {
    font-size: 21px;
    line-height: 28px;
    padding: 57px 0 38px
  }
}

@media only screen and (max-width:750px) {
  .archive-title {
    font-size: 5.6vw;
    line-height: 7.4666666667vw;
    padding: 15.2vw 0 10.1333333333vw
  }
}

.category-navi {
  background: #F5F5F5;
  text-align: center
}

.category-list {
  overflow: hidden;
  display: inline-block
}

@media print, screen and (min-width:751px) {
  .category-list {
    padding: 17px 0
  }
}

@media only screen and (max-width:750px) {
  .category-list {
    padding: 4.5333333333vw 0
  }
}

.category-item {
  max-width: 33%;
  float: left;
  font-weight: 700;
  border-right: 1px solid #707070;
  letter-spacing: 0.1em
}

@media print, screen and (min-width:751px) {
  .category-item {
    width: 286px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0
  }
}

@media only screen and (max-width:750px) {
  .category-item {
    width: 29.3333333333vw;
    font-size: 3.2vw;
    line-height: 4.8vw;
    padding: 2.6666666667vw 0
  }
}

.category-item:last-child {
  border-right: 0
}

.category-link {
  color: #333333
}

.category-link:hover {
  color: #941F24
}

.category-link.active {
  color: #941F24
}

.blog-area {
  padding: 60px 0 10px
}

.blog-item {
  height: auto!important;
  margin-bottom: 50px;
  overflow: hidden
}

@media print, screen and (min-width:751px) {
  .blog-image {
    width: 200px;
    padding-right: 60px;
    float: left
  }
}

@media only screen and (max-width:750px) {
  .blog-image {
    margin-bottom: 5.3333333333vw
  }
}

.blog-image img {
  width: 100%!important
}

@media print, screen and (min-width:751px) {
  .blog-info {
    float: left;
    width: calc(100% - 260px);
    padding-top: 20px
  }
}

@media print, screen and (min-width:751px) {
  .blog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

.blog-date {
  color: #8D8D8D;
  font-weight: 400
}

@media print, screen and (min-width:751px) {
  .blog-date {
    font-size: 16px;
    line-height: 16px;
    margin-right: 25px;
    padding-top: 7px
  }
}

@media only screen and (max-width:750px) {
  .blog-date {
    font-size: 3.2vw;
    line-height: 3.2vw
  }
}

.blog-tag-list {
  overflow: hidden
}

@media print, screen and (min-width:751px) {
  .blog-tag-list {
    width: calc(100% - 100px)
  }
}

@media only screen and (max-width:750px) {
  .blog-tag-list {
    margin-top: 1.3333333333vw
  }
}

.blog-tag-item {
  float: left;
  background: #F5F5F5;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 10px
}

@media print, screen and (min-width:751px) {
  .blog-tag-item {
    font-size: 16px;
    line-height: 30px
  }
}

@media only screen and (max-width:750px) {
  .blog-tag-item {
    font-size: 3.7333333333vw;
    line-height: 5.8666666667vw
  }
}

.blog-tag-item a {
  color: #8D8D8D;
  padding: 0 36.5px
}

.blog-title {
  font-weight: 700
}

@media print, screen and (min-width:751px) {
  .blog-title {
    font-size: 18px;
    line-height: 24px
  }
}

@media only screen and (max-width:750px) {
  .blog-title {
    font-size: 4.2666666667vw;
    line-height: 6.4vw
  }
}

.blog-title a {
  color: #333333
}

.pager-area {
  text-align: center;
  margin-bottom: 90px
}

.pager-list {
  overflow: hidden;
  display: inline-block
}

.pager-item {
  float: left;
  font-weight: 700;
  border-left: 1px solid #707070;
  letter-spacing: 0.1em
}

@media print, screen and (min-width:751px) {
  .pager-item {
    width: 38px;
    font-size: 14px;
    line-height: 40px;
    padding: 10px 0
  }
}

@media only screen and (max-width:750px) {
  .pager-item {
    width: 10.1333333333vw;
    font-size: 3.7333333333vw;
    line-height: 5.3333333333vw;
    padding: 1.3333333333vw 0
  }
}

.pager-item:last-child {
  border-right: 1px solid #707070
}

.pager-item a {
  color: #333333
}

@media print, screen and (min-width:751px) {
  .single-wrapper {
    width: 100%
  }
}

@media only screen and (max-width:750px) {
  .single-wrapper {
    width: 92vw
  }
}

.single-title {
  font-weight: 700;
  letter-spacing: 0.1em;
  position: relative
}

@media print, screen and (min-width:751px) {
  .single-title {
    font-size: 21px;
    line-height: 28px;
    padding: 57px 0 38px
  }
}

@media only screen and (max-width:750px) {
  .single-title {
    font-size: 5.6vw;
    line-height: 7.4666666667vw;
    padding: 15.2vw 0 10.1333333333vw
  }
}

.single-title:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  max-width: 1024px;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #DAE24A), color-stop(50%, #E5E5E5));
  background-image: linear-gradient(to right, #DAE24A 0, #E5E5E5 50%)
}

.single-content {
  padding-bottom: 90px
}

.single-content h3 {
  font-weight: 500
}

@media print, screen and (min-width:751px) {
  .single-content h3 {
    font-size: 21px;
    line-height: 28px;
    padding: 25px 0 28px
  }
}

@media only screen and (max-width:750px) {
  .single-content h3 {
    font-size: 5.6vw;
    line-height: 7.4666666667vw;
    padding: 6.6666666667vw 0 7.4666666667vw
  }
}

.single-content p {
  font-weight: 500
}

@media print, screen and (min-width:751px) {
  .single-content p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 60px
  }
}

@media only screen and (max-width:750px) {
  .single-content p {
    font-size: 4.2666666667vw;
    line-height: 8.5333333333vw;
    margin-bottom: 16vw
  }
}

.single-content img {
  width: 100%
}


/*# sourceMappingURL=style.css.map */