.archive {
  &-wrapper {
    @include mq(pc) {
      width: 100%;
    }
    
    @include mq(sp) {
      width: vw(345);
    }
  }
  
  &-title {
    font-weight: 700;
    letter-spacing: 0.1em;
    
    @include mq(pc) {
      font-size: 21px;
      line-height: 28px;
      padding: 57px 0 38px;
    }
    
    @include mq(sp) {
      font-size: vw(21);
      line-height: vw(28);
      padding: vw(57) 0 vw(38);
    }
  }
}

.category {
  &-navi {
    background: #F5F5F5;
    text-align: center;
  }
  
  &-list {
    overflow: hidden;
    display: inline-block;
    
    @include mq(pc) {
      padding: 17px 0;
    }
    
    @include mq(sp) {
      padding: vw(17) 0;
    }
  }
  
  &-item {
    max-width: 33%;
    float: left;
    font-weight: 700;
    border-right: 1px solid #707070;
    letter-spacing: 0.1em;
    
    @include mq(pc) {
      width: 286px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 0;
    }
    
    @include mq(sp) {
      width: vw(110);
      font-size: vw(12);
      line-height: vw(18);
      padding: vw(10) 0;
    }
    
    &:last-child {
      border-right: 0;
    }
  }
  
  &-link {
    color: #333333;
    
    &:hover {
      color: #941F24;
    }
    
    &.active {
      color: #941F24;
    }
  }
}

.blog {
  &-area {
    padding: 60px 0 10px;
  }
  
  &-item {
    height: auto !important;
    margin-bottom: 50px;
    overflow: hidden;
  }
  
  &-image {
    @include mq(pc) {
      width: 200px;
      padding-right: 60px;
      float: left;
    }
    
    @include mq(sp) {
      margin-bottom: vw(20);
    }
    
    img {
      width: 100% !important;
    }
  }
  
  &-info {
    @include mq(pc) {
      float: left;
      width: calc(100% - 260px);
      padding-top: 20px;
    }
  }
  
  &-flex {
    @include mq(pc) {
      display: flex;
    }
  }
  
  &-date {
    color: #8D8D8D;
    font-weight: 400;
    
    @include mq(pc) {
      font-size: 16px;
      line-height: 16px;
      margin-right: 25px;
      padding-top: 7px;
    }
    
    @include mq(sp) {
      font-size: vw(12);
      line-height: vw(12);
    }
  }
  
  &-tag {
    &-list {
      overflow: hidden;
      
      @include mq(pc) {
        width: calc(100% - 100px);
      }
      
      @include mq(sp) {
        margin-top: vw(5);
      }
    }
    
    &-item {
      float: left;
      background: #F5F5F5;
      border: 1px solid #D3D3D3;
      border-radius: 3px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-right: 10px;
      
      @include mq(pc) {
        font-size: 16px;
        line-height: 30px;
      }
      
      @include mq(sp) {
        font-size: vw(14);
        line-height: vw(22);
      }
      
      a {
        color: #8D8D8D;
        padding: 0 36.5px;
      }
    }
  }
  
  &-title {
    font-weight: 700;
    
    @include mq(pc) {
      font-size: 18px;
      line-height: 24px;
    }
    
    @include mq(sp) {
      font-size: vw(16);
      line-height: vw(24);
    }
    
    a {
      color: #333333;
    }
  }
}

.pager {
  &-area {
    text-align: center;
    margin-bottom: 90px;
  }
  
  &-list {
    overflow: hidden;
    display: inline-block;
  }
  
  &-item {
    float: left;
    font-weight: 700;
    border-left: 1px solid #707070;
    letter-spacing: 0.1em;
    
    
    @include mq(pc) {
      width: 38px;
      font-size: 14px;
      line-height: 40px;
      padding: 10px 0;
    }
    
    @include mq(sp) {
      width: vw(38);
      font-size: vw(14);
      line-height: vw(20);
      padding: vw(5) 0;
    }
    
    &:last-child {
      border-right: 1px solid #707070;
    }
    
    a {
      color: #333333;
    }
  }
}