.single {
  &-wrapper {
	@include mq(pc) {
	  width: 100%;
	}
	
	@include mq(sp) {
	  width: vw(345);
	}
  }
  
  &-title {
	font-weight: 700;
	letter-spacing: 0.1em;
	position: relative;
	
	@include mq(pc) {
	  font-size: 21px;
	  line-height: 28px;
	  padding: 57px 0 38px;
	}
	
	@include mq(sp) {
	  font-size: vw(21);
	  line-height: vw(28);
	  padding: vw(57) 0 vw(38);
	}
	
	&:before {
	  content: "";
	  position: absolute;
	  width: 100vw;
	  height: 2px;
	  max-width: 1024px;
	  left: 0;
	  bottom: 0;
	  background-image: linear-gradient(to right, #DAE24A 0, #E5E5E5 50%);
	}
  }
  
  &-content {
	padding-bottom: 90px;
	
	h3 {
	  font-weight: 500;
	  
	  @include mq(pc) {
		font-size: 21px;
		line-height: 28px; 
		padding: 25px 0 28px;
	  }
	  
	  @include mq(sp) {
		font-size: vw(21);
		line-height: vw(28);
		padding: vw(25) 0 vw(28);
	  }
	}
	
	p {
	  font-weight: 500;
	  
	  @include mq(pc) {
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 60px;
	  }
	  
	  @include mq(sp) {
		font-size: vw(16);
		line-height: vw(32);
		margin-bottom: vw(60);
	  }
	}
	
	img {
	  width: 100%;
	}
  }
}