$PC-max-content-width: 1180px;
$cars-news-list-button-width: 280px;
$general-text-color:#333;
$mobile-side-space: 2.5rem;
$bg-gray: #eee;

$main-color:#dae24a;

$button-border-color:#D3D3D3;
$button-shadow: 0 2px 5px #ccc;
